.modal {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal_content {
	border: 1px solid #fff;
	background-color: #fff;
	border-radius: 12px;
	min-width: 300px;
	padding: 20px;
}

.modal_header {
	display: flex;
	justify-content: end;
}

.modal_header_close {
	width: 20px;
	height: 20px;
}
.modal_header_close:hover {
	cursor: pointer;
}

.modal_header img {
	width: 100%;
	height: auto;
}

.modal_content {
}
