.content {
	margin: 4rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.modal_content {
	border-radius: 12px;
	width: 100%;
}

.content_btns {
	max-width: 300px;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
